@charset "utf-8";
*{box-sizing: border-box;}
ul,li{list-style: none}
.clearfix:after{content:"";display: block;clear: both;}


.header{_background:url(./images/bg-top.jpg) no-repeat center top;
			_background-size:cover;color:black;padding-top:60px;padding-bottom:40px;}
.header h1{margin-top:90px;padding-top: 20px;}
.bg-grey{background:#f5f5f5;}
img{max-width:100%;}
.footer{background: #0d121b;text-align:center;padding-top:30px;padding-bottom: 100px;padding-left:50px;padding-right:50px;color:#555d6d;}
.navbar{background: #f141a9;}
.nav-link{color:white;}
.navbar-brand{color:white;}
.container-fluid{margin-top: 50px;}
.character{padding-top: 30px;}
.character a:hover{opacity: 0.5}
.character:after{content:"";clear: both;display: block;}
.character>li{float: left;padding-right: 16px;padding-bottom: 40px;}
.character>li>a>img{width: 250px;}
.btn{background: #f141a9;color:white;}
.gameview{padding-top: 50px;}
.gameview:after{content:"";clear: both;display: block;}
.gameview>li{float: left;padding-right: 10px;}
.col-md-7{height: 100%}
.container .newsp{padding-top: 40px;}
.container .newsp:hover{color:#f141a9;cursor: pointer;}
.container .ash{padding-top: 10px;cursor:pointer;}
.container .ash:hover{color:#1b2f74;}
.social{width: 200px;}
.social:after{content:"";clear: both;display: block;}
.social>li{float: left;}
.social>li>a>img{width: 50px;}
.tab{padding-top: 30px;}
.tab:after{content:"";clear: both;display: block;}
.tab>li{float: left;padding-left: 20px;}
.tab>li>a{display: block;width: 100px;line-height:35px;_background: #1b2f74;}
ul.tab>li.select {}
ul.tab>li.select a{}
.tab2{padding-top: 30px;}
.tab2:after{content:"";clear: both;display: block;}
.tab2>li{float: left;padding-right: 20px;}
.tab2>li>a{display: block;width: 120px;line-height:35px;
	color:black;font-weight: bold;text-align: center;}
.tab2>li.select a{color:#1b2f74;}
.container .event{border: 1px solid #000;padding: 10px;width: 1000px;margin: 0 auto;}
.container .event>img{width: 485px;}
.container>h1>img{width: 300px;}
.container>h4>img{width: 450px;padding-left: 75px;}
.event ul:after{content: "";clear: both;display: block;}
.event li{float: left;}
.container>h4{font-size:20px;font-weight: bold;padding-bottom:10px;}
.more{/*position: absolute;top: 3020px;left: 1380px;*/float: right;}
